@use "./primitives.scss" as *;

$primary-surface-color: $neutral-0;
$secondary-surface-color: $cream-200;
$invert-surface-color: $neutral-1000;
$brand-surface-color: $purple-50;
$disabled-surface-color: $black-6;


$primary-text-color: $neutral-1000;
$secondary-text-color: $neutral-700;
$minimal-text-color: $neutral-400;
$disabled-text-color: $neutral-150;
$invert-text-color: $neutral-0;
$brand-text-color: $purple-500;  

$primary-border-color: $neutral-1000;
$secondary-border-color: $black-30;
$minimal-border-color: $black-15;
$invert-border-color: $neutral-0;

$focus-border-color: $focus-blue;
