$spacing-0: 0px;
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 6px;
$spacing-4: 8px;
$spacing-5: 12px;
$spacing-6: 16px;
$spacing-7: 20px;
$spacing-8: 24px;
$spacing-9: 32px;
$spacing-10: 40px;
$spacing-11: 60px;
$spacing-12: 80px;
$spacing-13: 120px;
$spacing-14: 160px;
