@use "../styles/tokens/typography.scss" as *;
@use "../styles/tokens/colours.scss" as *;
@use "../styles/tokens/spacing.scss" as *;

.current {
  color: black;
}

.productInfoContainer {
  padding: 16px 16px 150px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productDescription {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  @include p2;
  color: $secondary-text-color;
}

.description {
  margin: 0px;
}

.keyFeatures {
  margin: 0px;
  margin-left: 0px;
  padding-left: $spacing-8;
}

li::marker {
  font-size: 12px;
}

.buttonWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 12px 24px 16px;
  background-color: white;
  border-top: 1px solid #e5e7eb;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.desktopBreadcrumbs,
.mobileBreadcrumbs {
  display: flex;
  gap: 4px;
}

@media (max-width: 768px) {
  .mobileBreadcrumbs {
    padding: 6px 16px;
  }

  .desktopBreadcrumbs {
    display: none;
  }
}
@media (min-width: 768px) {
  .productInfoContainer {
    padding: 16px 16px;
  }
  .contentContainer {
    margin-bottom: 0;
  }

  .mobileBreadcrumbs {
    display: none;
  }

  .buttonWrapper {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .productInfoContainer {
    padding: 0px 0px 0px 16px;
  }

  .productDescription {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .pageContainer {
    padding: 16px 16px;
  }
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}
